<p id="notice"><%= notice %></p>

<p>
  <b>Current File state:</b>
  <%= @remote_file.state %>
</p>

<p>
  <b>Original name:</b>
  <%= @remote_file.original_name %>
</p>

<p>
  <b>Site:</b>
  <%= @remote_file.site.url %>
</p>

<p>
  <b>Url:</b>
  <%= @remote_file.url %>
</p>

<p>
  <b>Size:</b>
  <%= @remote_file.size.to_f/1000000 %>
</p>

<%  if @remote_file.invalid? %>
<p>
  <b>This file is invalid</b>
</p>
    <% end %>

<% unless @remote_file.size.nil? %>
<p>
  <b>%:</b>
  <%= render :partial => 'progressbar', :locals =>{:percentage => (@remote_file.downloaded.to_f/@remote_file.size.to_f)} %>
</p>
    <% end %>
<%= link_to 'Edit', edit_remote_file_path(@remote_file) %> |
<%= link_to 'Back', remote_files_path %>
